<!-- <mat-card-header>
</mat-card-header> -->
<mat-card>
  <img mat-card-image src="assets/img/clientes/{{cliente.nome_cliente}}.png">
  <mat-card-title>
    {{ campanha.nome_campanha }}
  </mat-card-title>
  <mat-card-subtitle>
    <!-- {{ campanha.cliente.nome_cliente }} -->
  </mat-card-subtitle>
  <!-- <mat-card-content> -->
    {{ campanha.comeco_campanha }} a {{ campanha.final_campanha }}
  <!-- </mat-card-content> -->
  <!-- <cliente [cliente]=" campanha.cliente "></cliente> -->
  <!-- <mat-card-actions> -->

  <!-- </mat-card-actions> -->

  <!-- <mat-card-title>{{ campanha.nome_campanha }}</mat-card-title> -->
</mat-card>

