<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <ng-content select="[item-1]"></ng-content>
      <ng-content select="[item-2]"></ng-content>
      <ng-content select="[item-3]"></ng-content>
      <ng-content select="[item-4]"></ng-content>
      <ng-content select="[item-5]"></ng-content>
      <ng-content select="[item-6]"></ng-content>
      <ng-content select="[item-7]"></ng-content>
      <ng-content select="[item-8]"></ng-content>
    </ul>
  </div>
</nav>
